:root {
    --dark--: #2A2B2E;
    --red--: #A40606;
    --yellow--: #FFE74C;
    --table--: #5998c5;
    --white--: #FFFBFE;
}



body {
    background-color: var(--dark--);

}

header {
    width: 100%;
    padding-bottom: 5vh;

}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 8vw;

}

#divButton {
    display: flex;
    justify-content: center;

}



#startButton {
    border-radius: 10px;
    background-color: #A40606;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 32px;
    padding: 16px;
    width: 220px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 36px;
    box-shadow: 0 10px 20px -8px rgba(134, 132, 132, 0.7);
}

#startButton {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 2s;
}

#startButton:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 14px;
    right: -20px;
    transition: 2s;
}

#startButton:hover {
    padding-right: 24px;
    padding-left: 8px;
}

#startButton:hover:after {
    opacity: 1;
    right: 10px;
}





td {
    border: 2px solid var(--white--);
    padding: 3vw;
    color: var(--white--);
    background-color: var(--table--);
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;

}


table {
    border-collapse: collapse;
    margin: auto;
    margin-bottom: 5vh;


}

#keybord {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    gap: 1vw;
}


#deleteButton {
    text-align: center;
    width: 100%;

}

#enterButton{
    text-align: center;
    width: 100%;

}

#stat{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5vw;
    color: #fff;
}


#keybord>#firstLign, #secondLign, #thirdLign {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    gap: 1vw;

}

.letter>button {
    width: 5vw;
    padding: 2.5vw;
    background: linear-gradient(rgba(36, 35, 35, 0.294), rgba(255, 255, 255, 0.477));
    border-radius: 10px;
    color: #fff;
    font-size: 2vw;
    text-align: center;


}
