:root {
    --dark--: #2A2B2E;
    --red--: #A40606;
    --yellow--: #dbc42c;
    --table--: #5998c5;
    --white--: #FFFBFE;
}

* {
    font-family: "Lexend", sans-serif;
    
}


html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--dark--);
}



html {
    min-height: 100%;
}

body {
    background-color: var(--dark--);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;

}

main {

    margin: auto;

}

header {
    padding-top: 3vh;
    padding-bottom: 2vh;
    margin: auto;


}

#title {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    font-size: 3.5vw;

    padding-bottom: 1vh;
    margin: auto;
}

#lettreM {

    background-color: #A40606;

    box-shadow: 0 10px 20px -8px rgba(134, 132, 132, 0.7);

}




#lettreK {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--yellow--);

    border-radius: 60%;


    box-shadow: 0 10px 20px -8px rgba(134, 132, 132, 0.7);
}



#lettreJ {
    background-color: #A40606;


    text-align: center;
    box-shadow: 0 10px 20px -8px rgba(134, 132, 132, 0.7);
}


#divButton {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
}



#startButton {
    border-radius: 10px;
    background-color: #5998c59d;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 1vw;
    padding: 1vw;
    transition: all 0.5s;
    cursor: pointer;
    margin: 1vw;
    box-shadow: 0 10px 20px -8px rgba(134, 132, 132, 0.7);
}

#startButton {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 2s;
}

#startButton:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 3vw;
    right: -3vw;
    transition: 4s;
}

#startButton:hover {
    padding-right: 4vw;
    padding-left: 4vw;
}

#startButton:hover:after {
    opacity: 1;
    right: 1vw;
}



table {
    border-collapse: collapse;

    margin-bottom: 2vh;

    margin: auto;


}




td {

    border: 3px solid var(--white--);
    padding: 1vw;
    color: var(--white--);
    -webkit-background-color: #5998c5;
    background-color: #5998c5;
    font-size: 1.5vw;
    height: 1vh;
    width: 1vw;
    text-align: center;


}

tr {
    border: 3px solid var(--white--);
    padding: 1vw;
    color: var(--white--);
    -webkit-background-color: #5998c5;
    background-color: #5998c5;
    height: 1.5vh;
    width: 1.5vw;
    font-size: 2vw;
    text-align: center;



}

#tableau{
    transition : 0.5s;
    animation: slide 2s ease-in-out;
    box-shadow: 0 10px 20px -8px rgba(134, 132, 132, 0.7);
    

}

@keyframes slide {
    0% {
        translate : 100%;
    }
    25%{
        translate : -100%;
    }
} 
    /* animation: bounce-in-right 2s ease-in-out forwards;}

  @keyframes bounce-in-right {
    0% {
      opacity: 0;
      transform: translateX(3000px);
    }
    60% {
      opacity: 1;
      transform: translateX(-30px);
    }
    80% { transform: translateX(10px); }
    100% { transform: translateX(0); }
  } */


/* #tableau:hover{
    scale:1.1
} */



#keybord {
    display: flex;
    justify-content: center;
    padding-top: 2vh;
padding-bottom: 2vh;
    flex-direction: column;
    gap: 0.5vw;
    align-content: center;
    margin: auto;

}


#deleteButton {
    text-align: center;
    width: 100%;

}

#enterButton {
    text-align: center;
    width: 100%;

}



#keybord>#firstLign,
#secondLign,
#thirdLign {
    display: flex;


    justify-content: center;
    text-align: center;
    gap: 1vw;

}


.letter {
    display: flex;
    align-content: center;
    border-radius: 10px;


}

.letter>button {

    padding: 0.7vw;
    background: linear-gradient(rgba(36, 35, 35, 0.294), rgba(255, 255, 255, 0.477));
    border-radius: 10px;
    color: #fff;
    font-size: 1.3vw;
    text-align: center;
    align-items: center;
    opacity: 0.5;
    transition:0.5s;
    cursor: pointer;


}

.letter>button:hover {
    background: linear-gradient(rgba(36, 35, 35, 0.294), rgba(255, 255, 255, 0.477));
    opacity: 1.2;
    scale:1.2;



}

/* NOUVEAU STYLE LETTRES JS */

.red{
    background-color: #A40606;
    color: #fff;
}

.yellow{
    background-color: var(--yellow--);
    border-radius: 50%;
    color: #fff;
}

.grey{
    background-color: darkgray;
    color: #fff;
}

.red{
    background-color: #A40606;
    color: #fff;
}

.yellow{
    background-color: #FFE74C;
    border-radius: 50%;
    color: #fff;
}

.grey{
    background-color: darkgray;
    color: #fff;
}

/* RESPONSIVE */

@media (max-width:630px) {

    body {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    * {
        margin-top: 1vw;
    }


    #title {
        font-size: 12vw;
    }

    #startButton {
        border-radius: 10px;
        background-color: #5998c59d;
        border: none;
        color: #fff;
        text-align: center;
        font-size: 3.5vw;
        padding: 2.5vw;
        transition: all 0.5s;
        cursor: pointer;
        margin: 3vw;
        box-shadow: 0 10px 20px -8px rgba(134, 132, 132, 0.7);
    }

    #startButton {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 2s;
    }

    #startButton:after {
        content: '»';
        position: absolute;
        opacity: 0;
        top: 3vw;
        right: -3vw;
        transition: 4s;
    }

    #startButton:hover {
        padding-right: 4vw;
        padding-left: 4vw;
    }

    #startButton:hover:after {
        opacity: 1;
        right: 1vw;
    }

    table {
        border-collapse: collapse;
        margin: auto;
        margin-bottom: 5vh;
        width: 50%;

    }

    td {
        border: 2px solid var(--white--);
        padding: 3vw;
        color: var(--white--);
        background-color: var(--table--);
        font-size: 3vw;
        height: 2vw;
        width: 2vw;


    }

    tr {
        border: 2px solid var(--white--);
        padding: 3vw;
        color: var(--white--);
        background-color: var(--table--);
        font-size: 5vw;
        height: 2vw;
        width: 2vw;
        font-size: 3vw;



    }


    .letter>button {

        padding: 2vw;
        background: linear-gradient(rgba(36, 35, 35, 0.294), rgba(255, 255, 255, 0.477));
        border-radius: 10px;
        color: #fff;
        font-size: 3.5vw;
        text-align: center;
        align-items: center;
        opacity: 0.5;

    }

    #keybord {
        margin: auto;
    }
}





@media (min-width: 630px) and (max-width: 1200px) {
    #title {
        font-size: 7vw;
    }

    #startButton {
        font-size: 2vw;
        padding: 1.5vw;
        margin: 2vw;
    }

    table {

        margin: auto;
        margin-bottom: 3vh;
    }

    td,
    tr {
        font-size: 2vw;
        padding: 1.5vw;
    }

    .letter>button {
        padding: 1vw;
        font-size: 2.5vw;
    }
}